@model SolveMe.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaskText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaskText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Added)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Added)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstSolve)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstSolve)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SolutionsCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SolutionsCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Attempts)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Attempts)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
