@model IEnumerable<SolveMe.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TasksCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SolutionsCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TasksCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SolutionsCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.UserId  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.UserId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.UserId })
        </td>
    </tr>
}

</table>
