<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="navbar navbar-inverse well-small">
                <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="../Home/Index">SolveMe</a>
                         <ul class="nav">
                             <li><a href="../Home/About">About</a></li>
                             @if(Request.IsAuthenticated)
                                 {
                                     <li><a href="../Account/Profile">Profile</a></li>
                                     <li><a href="../Task/NewTask">Add a task</a></li>
                                 }
                         </ul>
                        <div class="navbar-search pull-left">
                            <input type="text" class="search-query " placeholder="Search">
                        </div>
                        <ul class="nav pull-right">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </div>
           </div>
          
        </header>
        <div id="body" class ="well well-large" style="width: 900px; margin-left: auto; margin-right: auto">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="bottom">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Task publishing service. Developed by Kontrast.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
